body{
  background: #f0f0f0;
}

img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 70%;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;

}
header a{
  text-decoration: none;
  color: #252525;
}
header a.logo{
  font-size: 28px;
  font-weight: bold;
}
header nav{
  display: flex;
  gap: 30px;
}
.post{
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    gap: 30px;
    margin-bottom: 30px;
}
.post .texts h2{
  margin: 0;
  font-size: 1.5rem;
}
.post .info{
  margin: 6px 0;
  color: #8f8f8f;
  font-size: 1rem;
  display: flex;
  gap: 20px;
}
.post .info .author{
  text-decoration: none;
  color: #3d3d3d;
  font-weight: bold;
}
.post .summary{
    margin: 10px 0;
    line-height: 1.5rem;
}
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 8%;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #b1b1b1;
  background-color: #f1f1f1;
  outline: none;
  color: #252525;
}
.post .texts a{
  text-decoration: none;
  color: #252525;
}
form.login h2, form.register h2{
  text-align: center;
}
.post-page .image{
  max-height: 400px;
  display: flex;
  overflow: hidden;
}
.post-page .image img{
  object-fit: cover;
  object-position: center;
}
.post-page h1{
  text-align: center;
  margin: 10px 0 10px;
}
.post-page time{
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #8f8f8f;
}
.post-page .author{
  text-align: center;
  margin-bottom: 20px;
}
.edit-row{
  text-align: right;
  margin-bottom: 20px;
}
.edit-btn{
  background: #252525;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}